@charset "utf-8";

/* Estilo secciones */

@import url('respcss.css');


.list_notis{
	width: 90%;
	margin: 5px 0 0 5px;

}

.list_notis aside, .list_notis div{
	vertical-align: top;
	display: inline-block;;
	max-width: 35%;
}

.list_notis div{
	max-width: 60%;
}

h2{
	font-size: 15pt;
}

img{
	border-radius: 0.2em;
}